.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-image: 
    linear-gradient(#efbfbdad,#efbfbdad),
    url('/images/pag1.svg'),
    url('/images/pag2.svg');
}

.register-card{
    margin: auto;
    width: 40rem;
    padding: 1rem;
    background-color: #88bfd4;
    border-radius: 1rem;
    justify-content: center;
    text-align: center;

    img {
        width: 5rem;
    }

    .logo{
        cursor: pointer;
    }

    .title{
        color: #3f6a7a;
        font-weight: 600;
        font-size: 1.625rem;
    }

    .input-group{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 1rem;
    }

    .input{
        border-radius: 1.5rem;
        padding: 1rem;
        background-color: #e99392;
        color: #995756;
        font-weight: 600;
        border-style: none;
        width: 70%;
        margin-bottom: 1rem;
        outline: none;

    }

    input[type="date"]{
        color: #efbfbd;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .custom-date {
        background-image: url("/images/calendar-icon.svg");
        background-repeat: no-repeat;
        background-position: right 12px center;
        background-size: 20px;
    }



    .input::placeholder {
        color: #efbfbd;
        font-weight: 600;
    }

     .input:focus{
            border: 3px solid #af6766;
    }

    .submit-button{
        margin-top: 2rem;
        border-radius: 1.5rem;
        padding: 1rem;
        background-color: #af6766;
        border-style: none;
        width: 40%;
        margin-bottom: 1rem;
        outline: none;
        color: #efbfbd;
        font-weight: 800;
        cursor: pointer;
    }

}

@media (max-width: 768px) {

  .register-card {
    width: 90%;
  }

  .register-card img {
    width: 4rem;
  }

  .register-card .title {
    font-size: 1.4rem;
  }

  .register-card .input {
    width: 80%;
  }

  .register-card .submit-button {
    width: 50%;
  }
}

@media (max-width: 480px) {

  .register-card {
    width: 90%;
    padding: 0.8rem;
  }

  .register-card img {
    width: 3.5rem;
  }

  .register-card .title {
    font-size: 1.25rem;
  }

  .register-card .input {
    width: 85%;
  }

  .register-card .submit-button {
    width: 70%;
  }
}
