.pages {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.page {
  background: #e48b8b;
  padding: 16px;
  border-radius: 20px;
  width: fit-content;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.delete-page {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  gap: 16px;
}

.card {
  width: 120px;
  height: 160px;
  border: 2px dashed #fff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload {
  font-size: 42px;
  color: #fff;
  cursor: pointer;
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.remove-image {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  background: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.actions {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}
