
.binder-container {
  padding: 24px;
  max-width: 1200px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
}


.binder-header {
  max-width: 1200px;
  margin: 0 auto 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;

}


.binder-title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e85d8a;
  font-size: 1.8rem;
}


.binder-icon {
  width: 36px;
  height: 36px;
}


.binder-actions {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn.primary {
  background: #d385e2;
  color: white;
}

.btn.success {
  background: #7bb4e9;
  color: white;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.04);
}

.reset-btn {
  background: #94cbe1;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #ff7fb5;
  font-size: 26px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-btn:hover {
  transform: scale(1.1);
}


.pages {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}


.page {
  position: relative;
  background: #f6c1d2;
  padding: 34px;
  border-radius: 24px;

  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 18px;

  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
  border: 4px solid rgba(255,255,255,0.6);
}


.remove-page {
  position: absolute;
  top: 10px;
  right: 10px;

  border: none;
  background: #be123c;
  color: white;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}


.card {
  width: 140px;
  height: 190px;
  border-radius: 16px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.upload {
  font-size: 42px;
  color: #9ca3af;
  cursor: pointer;
  background: none;
  border: 2px dashed #f472b6;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.preview {
  position: relative;
  width: 100%;
  height: 100%;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}


.remove-img {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.65);
  color: white;
  cursor: pointer;
}
