.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;

    .menu-card{
        margin: auto;
        width: 30rem;
        padding: 1rem;
        border-radius: 1rem;
        justify-content: center;
        text-align: center;
    }

    .select{
        border-radius: 2rem;
        justify-content: center;
        margin: auto;
        font-weight: 600;
    }

    .title{
        background-color: #efbfbd;
        color: #e99392;
        font-size: 4rem;
    }

    .option{
        background-color: #e99392;
        color:  #ffe19d;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-bottom: 3rem;
    }
}