.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-image: 
    linear-gradient(#ffe29dcb,#ffe29dcb),
    url('/images/pag1.svg'),
    url('/images/pag2.svg');

    .menu-card{
        margin: auto;
        width: 30rem;
        padding: 1rem;
        border-radius: 1rem;
        justify-content: center;
        text-align: center;
    }

    .select{
        border-radius: 2rem;
        justify-content: center;
        margin: auto;
        font-weight: 600;
    }

    .title{
        background-color: #efbfbd;
        color: #e99392;
        font-size: 4rem;
    }

    .option{
        background-color: #e99392;
        color:  #ffe19d;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 3rem;
        font-size: 2rem;

        img{
            width: 6rem;
        }
    }

    .logout{
        background: #94cbe1;
        border: none;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        font-size: 26px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}

@media (max-width: 768px) {

    .container .menu-card {
        width: 22rem;
    }

    .container .title {
        font-size: 3rem;
    }

    .container .option {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .container .option img {
        width: 4.5rem;
    }
}

@media (max-width: 480px) {

    .container .menu-card {
        width: 18rem;
    }

    .container .title {
        font-size: 2.2rem;
    }

    .container .option {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    .container .option img {
        width: 2.5rem;
    }

}
