table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-collapse: collapse;
  background: #fff;
}

thead {
  background-color: #e89cae;
  color: #fff;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

button {
  margin: 0 5px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
}

.editar {
  background-color: #ffd966;
}

.excluir {
  background-color: #f28b82;
  color: white;
}
