.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-image: 
    linear-gradient(#88bed4bb,#88bed4bb),
    url('/images/pag1.svg'),
    url('/images/pag2.svg');
}

.card-login{
    margin: auto;
    width: 40rem;
    padding: 1rem;
    background-color: #efbfbd;
    border-radius: 1rem;
    justify-content: center;
    text-align: center;

    img {
        width: 5rem;
    }

    .title{
        color: #e99392;
        font-weight: 600;
        font-size: 1.625rem;
    }

    .subtitle{
        color: #88bfd4;
        font-weight: 600;
        font-size: 1.125rem;
    }

    .input-group{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 1rem;
    }

    .input{
        border-radius: 1.5rem;
        padding: 1rem 1rem 1rem 2.5rem;
        background-color: #e99392;
        color: #995756;
        font-weight: 600;
        border-style: none;
        width: 70%;
        margin-bottom: 1rem;
        outline: none;

    }

    .input::placeholder {
        color: #efbfbd;
        font-weight: 600;
        padding-left: 1rem;
    }

     .input:focus{
            border: 3px solid #af6766;
        }

    .username{
        background-image: url("/images/user-icon.svg");
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 1rem;
    }

    .password{
        background-image: url("/images/password-icon.svg");
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 1rem;
    }

    .submit-button{
        margin-top: 2rem;
        border-radius: 1.5rem;
        padding: 1rem;
        background-color: #88bfd4;
        border-style: none;
        width: 40%;
        margin-bottom: 1rem;
        outline: none;
        color: #ffe19d;
        font-weight: 800;
        cursor: pointer;
    }

}

.info-container{
    text-align: center;
}



.register-button{
    margin-top: 2rem;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: #88bfd4;
    border-style: none;
    width: 50%;
    margin-bottom: 1rem;
    outline: none;
    color: #ffe19d;
    font-weight: 800;
    cursor: pointer;
}

@media (max-width: 768px) {

  .card-login {
    width: 28rem;
  }

  .card-login img {
    width: 4rem;
  }

  .card-login .title {
    font-size: 1.4rem;
  }

  .card-login .subtitle {
    font-size: 1rem;
  }

  .card-login .input {
    width: 80%;
  }

  .card-login .submit-button {
    width: 50%;
  }

  .register-button {
    width: 60%;
  }
}

@media (max-width: 480px) {

  .card-login {
    width: 20rem;
    padding: 0.8rem;
  }

  .card-login img {
    width: 3.5rem;
  }

  .card-login .title {
    font-size: 1.25rem;
  }

  .card-login .subtitle {
    font-size: 0.95rem;
  }

  .card-login .input {
    width: 70%;
    padding-left: 2.3rem;
  }

  .card-login .submit-button {
    width: 70%;
  }

  .register-button {
    width: 75%;
  }
}
